#wrapper{
    width: 100%;
    hight: 3000px;
    background: #ff0;
}
header{
    width: 100%;
    hight: 100px;
    background: #f0f;
}
div#carrosel{
    width: 100%;
    hight: 400px;
    background: #0ff;
}