/* estruturas basicas de seletor: 
seletor de tag{
    propriedade: valor;
    propriedade: valor;
}
.classe{
    propriedade: valor;
    propriedade: valor;
}
#id{
    propriedade: valor;  (id é unico)
    propriedade: valor;  (nao pode ter id iguais na mesma pagina, porem pode ter em paginas diferentes)
}
*/
body{
    front-family: Arial, Helvetica, sans-erif;
    background-color:#6A5ACD;
    margin: 0;
    padding: 0;
}
.xpto{
    color: greeen;
    front-size: 20px;
    margin-left: 20px;
}
.primeiraClasse{
    color: red;
    font-size: 25px;
    weight: bold;
}
p{
    color: blue;
    font-size: 20px;

}
.segundaClasse{
    color: black;
    font-size: 40px;
}
#pagina2{
    background-color: #b61;
}