@media only screen and (min-width: 1200px) {
    body{
        background: #54E630;
    }
    .xlTitulo{
            display: block;
        }
    .smTitulo, .mdTitulo, .lgTitulo, .xsTitulo{
            display: none;
        }
}